/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ccf-form-wrapper .ccf-success {
	display: none;
	color: green;
}

.ccf-form-wrapper .ccf-error {
	display: none;
	color: red;
}

#ccf-entries-table {
	border-collapse: collapse;
	width: 100%;
}

#ccf-entries-table td,
#ccf-entries-table th {
	border: 1px solid #ddd;
	padding: 8px;
}

#ccf-entries-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #5e5e5e;
	color: white;
}

#ccf-entries-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#ccf-entries-table tr:hover {
	background-color: #ddd;
}

#ccf-pagination-nav {
	list-style-type: none;
	padding: 0;
}

#ccf-pagination-nav li {
	display: inline-block;
	margin: 0 10px;
}

#ccf-pagination-nav li:hover {
	cursor: pointer;
}

#ccf-pagination-nav .ccf-nav-active {
	font-size: larger;
	font-weight: 800;
}

#ccf-pagination-nav .ccf-nav-active:hover {
	cursor: default;
}
