/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ccf-form-wrapper .ccf-success {
	display: none;
	color: green;
}

.ccf-form-wrapper .ccf-error {
	display: none;
	color: red;
}

#ccf-form input {
	width: 100%;
}

#ccf-form {
	margin-top: 1em;
}

#ccf-form .ccf-field-wrapper {
	margin-bottom: 1em;
}

#ccf-entries-table {
	border-collapse: collapse;
	width: 100%;
}

#ccf-entries-table td,
#ccf-entries-table th {
	padding: 12px;
	width: 25%;
	white-space: nowrap;
}

#ccf-entries-table th {
	text-align: left;
	background-color: #5e5e5e;
	color: white;
}

#ccf-entries-table tr {
	background-color: white;
}

#ccf-entries-table tr.ccf-entry-row:hover {
	background-color: #fafafa;
	cursor: pointer;
}

#ccf-pagination-nav {
	margin-top: 1em;
	list-style-type: none;
	padding: 0;
}

#ccf-pagination-nav li {
	display: inline-block;
	margin: 0 10px;
}

#ccf-pagination-nav li:hover {
	cursor: pointer;
}

#ccf-pagination-nav .ccf-nav-active {
	font-weight: bold;
}

#ccf-pagination-nav .ccf-nav-active:hover {
	cursor: default;
}

#ccf-entry-details-table .ccf-entry-details-table-header th {
	text-align: center;
	background-color: gainsboro;
	position: relative;
}

#ccf-close-details-button {
	position: absolute;
	right: 10px;
}

#ccf-close-details-button:hover {
	cursor: pointer;
}

#ccf-entry-details-table .ccf-entry-detail-row th {
	width: 25%;
	vertical-align: baseline;
}
