/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ccf-form-wrapper .ccf-success {
	display: none;
	color: green;
}

.ccf-form-wrapper .ccf-error {
	display: none;
	color: red;
}
